$signup-min-height: auto;

.d-modal.create-account,
.d-modal.login-modal {
  .modal-body {
    padding: 5px 0;
  }

  #login-form {
    padding: 0 15px;
  }

  #credentials {
    padding: 5px 0;
  }
}

.d-modal.create-account {
  .login-form {
    width: 100%;
    padding: 0;

    &:before {
      content: none;
    }

    form {
      min-height: $signup-min-height;
      padding: 0 15px;

      tr {
        margin-top: 0;
      }
    }

    // We are not requiring users fields anymore
    // This is the recommended way by the Discourse team
    // https://meta.discourse.org/t/site-setting-to-hide-custom-user-fields-from-signup-page/130990/3
    .user-fields {
      display: none;
    }
  }
}
