/*
 * Styles for Versatile Banner theme component
 * https://meta.discourse.org/t/versatile-banner/109133
 */
.banner-box {
  .banner-heading {
    color: #ff4423;
    font-size: 3rem;
    text-align: left !important;
  }

  .section-header {
    padding-bottom: 10px;
  }

  .banner-description {
    color: #2b2b2b;
    font-size: 1.3rem;
    margin-bottom: 0;
  }

  .banner-sub-heading {
    color: #2b2b2b;
    font-size: 1.8rem;
    text-align: left !important;
  }

  .banner-sub-description {
    font-size: 1.1rem;
    text-align: left;
  }

  .btn.btn-banner {
    font-size: 1.1rem;
  }

  .banner-actions {
    text-align: left;
  }

  #banner-content_wrap {
    .row {
      .single-box {
        padding: 0 0 15px;
      }
    }
  }
}
